@media screen and (min-width: 1280px) {
    /* info */

    .info_message_mediumScreen {
        display: none;
    }

    .info_message_largeScreen {
        display: initial;
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 1230px;
        }
    }

    /* First section */

    .main_firstSection_container {
        width: 1200px;
        margin: auto;
    }

    .main_firstSection_container_imageContainer_image {
        width: 50%;
    }

    /* Second section */

    .main_secondSection_container {
        width: 1000px;
        margin: auto;
    }

    /* footer */

    .footer_container {
        max-width: 1200px;
    }
}
