@media screen and (min-width: 600px) {
    /* body */
    body {
        font-family: "Comic Neue", cursive;
        margin: auto;
    }

    /* header */

    .header {
        padding: 20px;
    }

    .header_tiltleContainer_title {
        font-size: 175%;
    }
    .header_tiltleContainer_subTitle {
        font-size: 100%;
    }

    .header_linkIconContainer_link_icon {
        font-size: 24px;
        margin: 5px;
    }

    /* nav */

    .nav_linkContainer {
        width: 200px;
    }

    .nav_linkContainer_link {
        font-size: 100%;
    }

    .nav_linkIconContainer_link_icon {
        font-size: 24px;
        margin-left: -22.5px;
    }

    /* info */
    .info {
        font-size: 100%;
    }

    .info_message_smallScreen {
        display: none;
    }

    .info_message_mediumScreen {
        display: initial;
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 502px;
        }
    }

    /* first section */

    .main_firstSection_container {
        padding: 20px;
    }
    .main_firstSection_container_title {
        font-size: 135%;
    }

    .main_firstSection_container_table_row_col {
        font-size: 100%;
    }

    /* second section */
    .main_secondSection_title {
        font-size: 135%;
    }

    /* footer */

    .footer_container {
        max-width: 600px;
        margin: auto;
    }

    .footer_container_title {
        font-size: 125%;
    }

    .footer_container_form_container_emailLabel {
        font-size: 100%;
    }

    .footer_container_form_container_messageLabel {
        font-size: 100%;
    }

    .footer_container_form_containerButtonContainer_buttonContainer {
        width: 75px;
    }

    .footer_container_form_containerButtonContainer_buttonContainer_button {
        width: 75px;
        font-size: 100%;
    }
}
