/* body */
body {
    font-family: "Comic Neue", cursive;
    margin: auto;
}

/* header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #9370db;
    color: #fff;
}

.header_tiltleContainer {
    text-align: center;
}

.header_tiltleContainer_title {
    margin: 0;
    font-size: 125%;
    font-weight: normal;
}

.header_tiltleContainer_subTitle {
    margin: 0;
    font-size: 75%;
}

.header_linkIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header_linkIconContainer_link_icon {
    color: #fff;
}

/* nav */

.nav {
    background-color: #669999;
    border-top: 1px solid #262626;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_linkContainer {
    text-align: center;
    width: 150px;
}

.nav_linkContainer_link {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 75%;
}

.nav_linkContainer_link:hover {
    text-decoration: underline;
}

.nav_linkIconContainer_link_icon {
    color: #fff;
}

/* info */
.info {
    background-color: #262626;
    padding: 10px;
    font-family: "Inconsolata", monospace;
    color: #33ff33;
    font-size: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_message {
    overflow: hidden;
    border-right: 0.15em solid #33ff33;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
    display: inline;
}

.info_message_mediumScreen {
    display: none;
}

.info_message_largeScreen {
    display: none;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 150px;
    }
}
@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}
/* first section */
.main_firstSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #262626;
    background-color: #7fffd4;
}

.main_firstSection_container {
    padding: 10px;
    max-width: 600px;
}

.main_firstSection_container_title {
    font-size: 95%;
    font-weight: normal;
    text-align: center;
}

.main_firstSection_container_table_row_col {
    font-size: 75%;
    vertical-align: baseline;
}

.main_firstSection_container_image {
    object-fit: cover;
    max-width: 400px;
    width: 100%;
    height: auto;
}

/* second section */
.main_secondSection {
    background-color: #a181a1;
    padding: 10px;
    color: white;
}

.main_secondSection_title {
    font-size: 95%;
    font-weight: normal;
    text-align: center;
}

.main_secondSection_itemContainer_item_icon {
    margin: 20px;
    font-size: 50px;
}

.main_secondSection_itemContainer_item_orangeredIcon {
    color: #ff4500;
}

.main_secondSection_itemContainer_item_blueIcon {
    color: #0000ff;
}

.main_secondSection_itemContainer_item_violetIcon {
    color: #ee82ee;
}

.main_secondSection_itemContainer_item_whiteIcon {
    color: #fff;
}

.main_secondSection_itemContainer_item_yellowIcon {
    color: #ffff00;
}

.main_secondSection_itemContainer_item_greenIcon {
    color: #008000;
}

.main_secondSection_itemContainer_item_limegreenIcon {
    color: #32cd32;
}

/* footer */

.footer {
    background-color: #4169e1;
    padding: 10px;
    color: #fff;
}

.footer_container_title {
    font-weight: normal;
    font-size: 85%;
}

.footer_container_form_container {
    margin-bottom: 20px;
}

.footer_container_form_container_emailLabel {
    display: block;
    font-size: 75%;
    margin-bottom: 5px;
}

.footer_container_form_container_emailInput {
    max-width: 300px;
    width: 100%;
    border: 1px solid #262626;
    border-radius: 5px;
}

.footer_container_form_container_emailInput:focus {
    outline: none;
}

.footer_container_form_container_messageLabel {
    display: block;
    font-size: 75%;
    margin-bottom: 5px;
}

.footer_container_form_container_inputMessage {
    width: 100%;
    height: 200px;
    resize: none;
    border: 1px solid #262626;
    border-radius: 5px;
}

.footer_container_form_container_inputMessage:focus {
    outline: none;
}

.footer_container_form_containerButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.footer_container_form_containerButtonContainer_buttonContainer {
    width: 60px;
}

.footer_container_form_containerButtonContainer_buttonContainer_button {
    border: 1px solid #262626;
    background-color: #fff;
    color: #262626;
    font-family: "Comic Neue", cursive;
    border-radius: 5px;
    padding: 5px;
    width: 60px;
    font-size: 75%;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.popup_container__displayNone {
    display: none;
}

.popup_container__displayBlock {
    background-color: #262626;
    padding: 10px;
}

.popup_container_iconContainer {
    text-align: end;
}

.popup_container_iconContainer_icon {
    color: white;
}

.popup_container_status {
    color: white;
    font-size: 75%;
}
